cython
submitit
scipy
termcolor
addict
yapf==0.40.1
timm
torch
torchvision
transformers
numpy
opencv-python
supervision==0.6.0
pycocotools
pyyaml>3.10
colorlog
open_groundingdino_ops @ git+https://github.com/dhodcz2/Open-GroundingDino.git@main#subdirectory=open_groundingdino/models/GroundingDINO/ops
